:root{
	--font_color: #37A;
	--button_color: #369;
	--button_color_hover: #38B;

}






.text_justify{
	text-align: justify;
}

@media (min-width: 992px) {

	.col-lg-5-max{
		flex: 0 0 43%;
	}
	.col-lg-5-min{
		flex: 0 0 30%;
	}
}




